a {
  color: rgb(0, 113, 133);
  font-size: 18px;
  font-style: underlined;
}
a:hover {
  color: rgb(184, 52, 0);
}
h3 {
  color: rgb(0, 118, 0);
}
p {
  font-size: 18px;
}
.btn {
  cursor: pointer;
  margin: 3.5px 12px 3.5px 0px;
  border: none;
  padding: 10px 16px;
  border-radius: 18px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.add-to-cart-btn {
  background-color: rgb(255, 216, 20);
}
.add-to-cart-btn:hover {
  background-color: rgb(255, 188, 20);
}
.add-to-cart-btn:active {
  background-color: rgb(255, 160, 20);
}

.buy-now-btn {
  background-color: rgb(255, 164, 28);
}
.buy-now-btn:hover {
  background-color: rgb(255, 136, 28);
}
.buy-now-btn:active {
  background-color: rgb(255, 108, 28);
}
